extends admin-layout

block content
    .container
      .alert.alert-danger.alert-dismissible.hidden(role='alert')
        strong Oops!
        |  That fund has already been entered. Please try again.
      a.btn.btn-default.btn-link(href='/admin/funds', role='button') Back to fund listings
      h1 Edit an existing fund:
      table.table.table-responsive
        form(action='/admin/' + fund.id + '/edit', method='post', name='create_fund')
          .row
            tr
              .col-md-6.form-group
                label(for='title') Title
                input#title.form-control(type='text', name='title', value=fund.title, required)
              .col-md-6.form-group
                label(for='subject') Subject (separate with comma, no space)
                input#subject.form-control(type='text', name='subject', value=fund.subject style="text-transform: lowercase;")
          .row
            tr
              .col-md-12.form-group
                label(for='tags') Tags (separate with comma, no space)
                input#tags.form-control(type='text', name='keywords', value=fund.tags, style="text-transform: lowercase;" required)
          .row
            tr
              .col-md-6.form-group
                label(for='target_degree') Target Degree (separate with comma, no space)
                input#target_degree.form-control(type='text', name='target_degree', value=fund.target_degree, style="text-transform: lowercase;")
              .col-md-6.form-group
                label(for='target_university') Target University (separate with comma, no space)
                input#target_university.form-control(type='text', name='target_university', value=fund.target_university, style="text-transform: lowercase;")
          .row
            tr
              .col-md-6.form-group
                label(for='required_degree') Required Degree (separate with comma, no space)
                input#required_degree.form-control(type='text', name='required_degree', value=fund.required_degree, style="text-transform: lowercase;")
              .col-md-6.form-group
                label(for='required_university') Required University (separate with comma, no space)
                input#required_university.form-control(type='text', name='required_university', value=fund.required_university, style="text-transform: lowercase;")
          .row
            tr
              .col-md-3.form-group
                label(for='min_age') Minimum Age
                input#min_age.form-control(type='number', name='min_age', value=fund.minimum_age)
              .col-md-3.form-group
                label(for='max_age') Maximum Age
                input#max_age.form-control(type='number', name='max_age', value=fund.maximum_age)
              .col-md-3.form-group
                label(for='min_amount') Minimum Amount
                input#min_amount.form-control(type='number', name='min_amount', value=fund.minimum_amount)
              .col-md-3.form-group
                label(for='max_amount') Maximum Amount
                input#max_amount.form-control(type='number', name='max_amount', value=fund.maximum_amount)
          .row
            tr
              .col-md-12.form-group
                label(for='description') Description
                textarea#description.form-control(rows='3', name='description')= fund.description
          .row
            tr
              .col-md-12.form-group
                label(for='financial_situation') Financial Situation
                textarea#financial_situation.form-control(rows='3', name='financial_situation')= fund.financial_situation
          .row
            tr
              .col-md-3.form-group
                label Gender
                .row
                  .col-md-4
                    label.radio-inline
                      input#male(type='radio', name='gender', value='male')
                      |  Male
                  .col-md-4
                    label.radio-inline
                      input#female(type='radio', name='gender', value='female')
                      |  Female
                  .col-md-4
                    a.btn.btn-default.btn-link#clear_gender(href='#', role='button') Clear
              .col-md-3.form-group
                label Merit or Finance based
                .row
                  .col-md-4
                    label.radio-inline
                      input#merit(type='radio', name='merit_or_finance', value='merit')
                      |  Merit
                  .col-md-4
                    label.radio-inline
                      input#finance(type='radio', name='merit_or_finance', value='finance')
                      |  Finance
                  .col-md-4
                    a.btn.btn-default.btn-link#clear_merit(href='#', role='button') Clear
          .row
            tr
              .col-md-6.form-group
                label(for='target_country') Target Countries (separate with comma, no space)
                input#target_country.form-control(type='text', name='target_country', style="text-transform: lowercase;", value=fund.target_country)
              .col-md-6.form-group
                label(for='country_of_residence') Countries of Residence (separate with comma, no space)
                input#country_of_residence.form-control(type='text', name='country_of_residence', style="text-transform: lowercase;", value=fund.country_of_residence)
          .row
            tr
              .col-md-6.form-group
                label(for='religion') Religion (separate with comma, no space)
                input#religion.form-control(type='text', name='religion', style="text-transform: lowercase;", value=fund.religion)
              .col-md-6.form-group
                .col-md-12.form-group
                  .row
                    label(for='organisation_id') Charity ID (if not present, create organisation first)
                  .row
                    select#organisation_id(name='organisation_id')
                      option(value='') Please select
                      each organisation in organisations
                        if organisation.id === fund.organisation_id
                          option(value=organisation.id, selected='selected')=organisation.name + ' - ' + organisation.charity_id
                        else
                          option(value=organisation.id)=organisation.charity_id + ' - ' + organisation.name
          .row
            tr
              .col-md-6.form-group
                label(for='link') Link
                input#link.form-control(type='text', name='link', value=fund.link)
              .col-md-3.form-group
                label(for='link') Deadline
                input#deadline.form-control(type='date', name='deadline', value=deadline)
              .col-md-3.form-group
                label(for='invite') Invite Only?
                input#invite.form-control(type='checkbox', name='invite', value=fund.invite_only)
          .row
            tr
              .col-md-6.form-group
                label(for='application_link') Application Link
                input#application_link.form-control(type='text', name='application_link', value=fund.application_link)
          .row
            tr
              .col-md-12.form-group
                button.btn.btn-danger(type='submit') Update fund!

    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/javascript/lib/bootstrap.min.js')
    script(src='/javascript/admin.js')
    script.
      var fund = !{JSON.stringify(fund)};
