extends admin-layout

block extraHeader
  script(src='/javascript/lib/sorttable.js')

block content
    .container
      h1.text-center Funds Table
      hr
      .row
        .col-md-2
          a.btn.btn-default.btn-success(href='/admin/new', role='button') Create a new fund
        .col-md-4
          form(action="/admin/upload", method="post", enctype="multipart/form-data")
            .col-md-6(style='padding: 0;')
              input(type="file", name="jsonData")
              button.btn.btn-default.btn-primary(type='submit') Upload JSON!
            .col-md-6(style='padding: 0;')
              input(type='checkbox', name='overwrite_id', style='margin-right: 10px;')
              | Use file IDs?
              label(for='offset_number', style='font-size: 12px;') Offset organisations_id by:
              input(type='text', name='offset_number', value='0')
        .col-md-2
          form(action="/admin/funds/reset-table", method="post", name='reset-table')
            button.btn.btn-default.btn-danger(type='submit') Clear & Reset Table
        .col-md-2
          form(action="/admin/sync", method="post", name="sync_db")
            button.btn.btn-warning(type="submit") Sync ES to PG
        .col-md-2
          a.btn.btn-default.btn-link#downloader(href='/admin/download' download) Generate download link
          .downloader#generated_download_link
      hr
      .col-md-6.paddingless
        h3.duplicate-titles Duplicate titles
        div#duplicateTableContainer
          table#duplicateTitle.table.table-bordered.table-responsive
            tr
              th Title
              th#countHeader Count
            each fund in fundsWithDuplicateTitles
              tr
                td= fund.title
                td= fund.count
      .col-md-6.paddingless
        h3.duplicate-titles Duplicate emails
        div#duplicateTableContainer
          table#duplicateEmail.table.table-bordered.table-responsive
            tr
              th Email
              th#countHeader Count
            each fund in fundsWithDuplicateEmails
              tr
                td= fund.email
                td= fund.count
      a.back-to-top(href='#')
      .col-md-12.paddingless#fundListingsContainer
        table.table.table-bordered.table-responsive.sortable
          tr
            th(style='width: 60px;') ID
            th(style='width: 80px;') Link
            th(style='width: 350px;') Fund Title
            th Minimum Age
            th Maximum Age
            th Minimum Amount
            th Maximum Amount
            th(style='width: 100px;') Deadline
          each fund in funds
            tr
            td= fund.id
            td
              a.btn.btn-default.btn-link(href=fund.link, role='button') Link
            td= fund.title
            td= fund.minimum_age
            td= fund.maximum_age
            td= fund.minimum_amount
            td= fund.maximum_amount
            td= fund.deadline
            td
              form(action='/admin/' + fund.id + '/edit', method='get', name='edit_fund')
                button.btn.btn-primary(type='submit') Edit
            td
              form(action='/admin/' + fund.id + '/destroy', method='post', name='destroy_fund')
                button.btn.btn-danger(type='submit') Destroy
    .container
      hr

    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/javascript/lib/bootstrap.min.js')
    script(src='/javascript/admin.js')
    script.
      var fundData =!{JSON.stringify(funds)};
