extend layout

block extraHeader
	link(href='/stylesheets/fund-settings.css', rel='stylesheet')
	link(href='/stylesheets/navbar-loggedin.css', rel='stylesheet')
block content
	script.
		var user = !{JSON.stringify(user)};
		var bodyEl = document.getElementsByTagName('body');
		if(user){
			bodyEl[0].className = bodyEl[0].className.split('nojs').join(' jsEnabled ');
			windowPortWidth = window.innerWidth;
			if(windowPortWidth <767){
				document.write('<style type="text/css">nav.navbar-custom{display:none}</style>');
			}
		}
	include ./navbar.jade
	include ./partials/navbar-loggedin.jade
	include ./partials/signup-modal.jade
	section#edit.container.content-section
		.row
			.col-md-2.col-xs-4#categories
				ul
					li#general-settings
						a(href='#general').active-link
							i.fa.fa-gears
							| General settings
					li#account
						a(href='#account')
							i.fa.fa-lock
							| Account details
				hr
				ul
					li#logout
						a(href= "/organisation/logout/")
							| Log out
			.col-md-1
			.col-md-7.col-xs-8#profile-settings
				form(action='/organisation/settings', method='post', id='change-settings')
					script#general-template(type='text/template')
						.general
							.row#username-row
								.col-md-3
									p Name:
								.col-md-5
									input#username.grey(name='username')
							hr.account
							.row#email-row
								.col-md-3
									p Email:
								.col-md-5
									input#email.grey(name='email')
									span#email-check
							hr.account
							.row#previous-password-row
								.col-md-3
									p Previous Password:
								.col-md-5
									input#previous-password.grey(type='password')
									span#password-check
							.row#password-row
								.col-md-3
									p New password
								.col-md-5
									input#new-password.grey(type='password', name='password')
							.row#confirm-password-row
								.col-md-3
									p Confirm Password
								.col-md-5
									input#confirm-password.grey(type='password')
									span#password-match
							hr.account
							.row#charity_number-row
								.col-md-3
									p Charity number:
								.col-md-5
									input#charity_id.grey(name='charity_id')
							hr.account
							.row
								.col-md-5
									p Receive email updates weekly
								.col-md-1
									input#email_updates(type='checkbox', name='email-updates')
							#save-div.center-block
								button.save.btn.btn-primary(type='submit') Save changes
								#save-general-settings-notification Your changes have been saved
					script#account-settings(type='text/template')
						.profile-edit
							#box-profile 
								input#my_file(type='file', style='display: none;', name = 'profile_picture')
								img#userImage(src=user.profile_picture)
								i.fa.fa-camera
							.row#description-row
								.col-md-3
									p Description:
								.col-md-6
									textarea.grey(form='change-settings', name='description') <%= description %>
							#save-div.center-block
								button.save.btn.btn-primary(type='submit') Save changes
								#save-general-settings-notification Your changes have been saved
				include ./partials/delete-account.jade
						
block scripts
	script(src='/javascript/lib/modernizr-input.js')
	script(src='/javascript/signup-login.js')
	script(src='/javascript/advanced-search.js')
	script(src= '/javascript/fund-settings.js')
	script.
		var organisation = !{JSON.stringify(user)}
		var general = !{JSON.stringify(general)}
	// Google Analytics
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-74497958-1', 'auto');
		ga('send', 'pageview');
