extends layout

block extraMeta
	meta(property='og:type', content='website')
	meta(property='og:url', content='https://www.silofunds.com')
	meta(property='og:title', content="Silofunds")
	meta(property='og:description', content='A search engine and crowdfunding platform for graduate funding.')
	meta(property='og:image', content="images/silo-logo-coloured.png")  
	meta(property='og:site_name', content='SiloFunds')

block extraHeader
	// Custom CSS
	link(href="/stylesheets/footer.css", rel= "stylesheet")
	link(href="/stylesheets/navbar-homepage.css", rel = "stylesheet")
	link(href='/stylesheets/index.css', rel='stylesheet')
	link(href='/stylesheets/signup.css', rel='stylesheet')
	//script(src='/bower_components/jquery.stellar/jquery.stellar.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.2/jquery.stellar.min.js')
	// start Mixpanel
	script(type='text/javascript').
		(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
		mixpanel.init("58691d05b3860570e33d3b6298f6f10e");
	// end Mixpanel
	
block content
	// Navigation

	nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
		.container
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
					i.fa.fa-bars
				a.navbar-brand(href="/")
					img#brand-image(src="images/homepage-transparent-logo.png")
			// Collect the nav links, forms, and other content for toggling
			.collapse.navbar-collapse.navbar-main-collapse
				ul.nav.navbar-nav.navbar-left
						li#features
							a(href="#") Features
						li
							a(href='https://medium.com/@andros_27050') Blog
						//- li
						//- 	a(href="#") Explore
			.collapse.navbar-collapse.navbar-right.navbar-main-collapse
				ul.nav.navbar-nav
					li
						a.cd-login.pre-signin LOG IN
					li
						a.cd-signup.pre-signin SIGN UP

			// /.navbar-collapse
		// /.container
	// Intro Header
	header.intro
		.intro-body
			.container
				include ./partials/signup-modal.jade
						
				.col-md-10.col-md-offset-1
					!= messages('messages', locals)
					h1.brand-heading
					p.intro-text The search for funding shouldn't be draining.
					p.intro-text-2 Fund your education
						span#emphasis(style='margin-left: 7px') now.
					form#search-form.search_form(action='/results', method='get', name='search_form', style='margin-bottom: 40px')
						input#subject_search(type='text', name='subject', placeholder='Subject')
						input#university(name='target_university', placeholder='Target University')
						input#degree_level( name='target_degree', placeholder='Degree Level')
						button#search_button.btn.btn-danger(type='submit') Search
						p.error-text.alert.alert-danger You must input some values into the search.
					a#looking-to-support(href='/results/users?all=true') Looking to support someone's research?
	// About Section
	section#about.container.content-section.text-center
		.row
			.col-sm-4.hideme
				#page
					.progress-bar
						canvas#inactiveProgress.progress-inactive(height='275px', width='275px')
						canvas#activeProgress.progress-active(height='275px', width='275px')
						p 0%
					#progressControllerContainer
						input#progressController(type='range', min='0', max='100', value='72')
					p#postgraduate-brief 72% of postgraduate students have no financial help.
			.col-sm-4.hideme
				h1#number-of-funds 2400
				p#funds-brief We have a daily updated database of over 2400 grants.
			.col-sm-4.hideme
				h1#amount-searched £19 million
				p#amount-available There are over £19 million worth of grants at Silo.

			.col-md-2
			.col-lg-8.col-lg-offset-2
				p#silo-here Silo connects you with the institutions most likely to award you funding. We’re simplifying the search process and saving you time.
	hr#line-break
	section#about-us.container.content-section.text-center
		h3#about-intro.module Features for students
		.row
			.col-sm-6
				img#user-profile.module(src="images/homepage-ipad.png", style="width: 100%;")
			.col-sm-1
			#description-cols.col-sm-4.module
				.row
					.col-sm-3
						img#free(src="images/free.svg")
					.col-sm-9
						p#free-paragraph We understand the financial pressures of student-life. Silo therefore does not charge its users!
				.row
					.col-sm-3
						img#crowd-funding(src="images/crowd-funding.svg")
					.col-sm-9
						p#crowd-funding-paragraph By combining crowdfunding and grant searching, we maximise the chances of a student reaching their goal.
				.row
					.col-sm-3
						img#network(src="images/connections.svg")
					.col-sm-9
						p#network-paragraph Silo connects you with relevant people who are interested in helping you. This can be other students, alumni or organisations.
		span#start-now Start now
	section#showcase.container.content-section.text-center
		#profile-views.module
			h3#fund-intro Features for funds
			.row.module-2
				.col-md-1
				#profile-row.col-md-7
					img#fund-profile(src="images/homepage-dashboard.png")
				.col-md-3
					p#profile-features Manage multiple awards at the same time. Every week you can receive analytics on how many people visited/favourited your page. You can also approve student applications on their crowdfunding page - legitimising their information.
				.col-md-1
			.row.module-3
				.col-md-1
				#application-text.col-md-3
					p#application-feature Create an award page to display general information, eligibility criteria and application processes. 
				#application-row.col-md-7
					img#application.module-2.module-3(src="images/fund-profile.png")
				.col-md-1
			span#fund-sign-up Sign up
	section#social-proof.container.content-section.text-center
		#myCarousel.carousel.slide(data-ride='carousel')
			// Indicators
			ol.carousel-indicators
				li.active(data-target='#myCarousel', data-slide-to='0')
				li(data-target='#myCarousel', data-slide-to='1')
				//- li(data-target='#myCarousel', data-slide-to='2')
				//- li(data-target='#myCarousel', data-slide-to='3')
			// Wrapper for slides
			.carousel-inner(role='listbox')
				.item.active
					.row.roshan-row
						.col-md-4.hideme
							img#success-story(src='/images/roshan.jpg')
							.mb-attribution
								p.mb-author 
									a(href='/public/1125') Roshan Kumar
								cite
									a Pharmacology DPhil
						.col-md-8.hideme
							section.main
								.mb-wrap.mb-style-3
									blockquote
										p First of all, my heartiest thanks to all donors who participated in my campaign and to making it successful. I would like to thank Silo who played a very important role in my fundraising campaign towards my accommodation deposit. They provided me with a platform where I was able to convey to donors my situation and to ask them for help in a more convincing way. They also connected me with all potential donors and made my campaign successful in just 7 days. I received constant support from Silo staff and a big help from other groups to make my campaign successful. Thank you Silo!
				.item
					.row.oxsrc-row
						.col-md-4.hideme
							img#success-story(src='/images/oxsrc.jpg')
							.mb-attribution
								p.mb-author 
									a(href='/public/1323') Oxford Student Refugee Campaign
								cite
									a Student run campaign
						.col-md-8.hideme
							section.main
								.mb-wrap.mb-style-3
									blockquote
										p Silo has enabled our scholarship fund to access fundraising resources in an entirely new way. The opportunity to crowdfund represents a huge potential for our fund. We were able to successfully raise money for the application fees of 10 refugee students in only 6 days. The work of Silo to publish our campaign in social media and to extended networks was incredibly dedicated. I am sure we will continue to work closely with this service in future.
			// Left and right controls
			//- a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
			//- 	span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
			//- 	span.sr-only Previous
			//- a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
			//- 	span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
			//- 	span.sr-only Next

	section#relevant-people(data-stellar-background-ratio="0.5")
		#relevant-div
			h3#relevant-intro Creating a community
			p#relevant-explanation At Silo our focus is on building a community. Our service is currently exclusive to Oxford students but our aim is to help fund as many students as possible. In order to do this we believe we need to connect our users with relevant people who can provide both guidance and financial support for our users.
			p#relevant-target Whether you're a student who has succesfully crowdfunded, an alumni member, or someone who is interested in research at the university, we would love to hear from you.
			a#contact-span(href="/contact_us") Contact us
	section#featured
		h3 Featured on 
		.row
			.col-sm-3
				a(href='http://thetab.com/uk/oxford/2016/11/15/small-loan-million-dollars-oxford-entrepreneur-spills-commercial-beans-27504')
					img(src='http://thetab.com/wp-content/themes/thetab-three/assets/_img/thetab-logo-red.png')
			.col-sm-3
				a(href='http://oxfordstudent.com/2016/11/19/blast-off-silo-oxford-students-startup/')
					img(src='http://oxfordstudent.com/wp-content/uploads/2016/01/FEd4xBfi-2.jpeg', style='width: 250px')
			.col-sm-3
				a(href='http://www.oxfordtoday.ox.ac.uk/interviews/student-entrepreneur-and-business-making-ends-meet')
					img(src='http://jimmymorris.co.uk/wp-content/uploads/2015/02/oxford-today-logo-e1425062383330-321x221.png')
			.col-sm-3
				a(href='http://www.eship.ox.ac.uk/andros-wong-co-founder-silo-funds')
					img(src='http://www.begbroke.ox.ac.uk/wp-content/uploads/2015/04/Enterprising-oxford.png', style='width: 250px;')
	//- section#team
	//- 	#team-div
			//- h3 Our founders 
			//- .row
			//- 	.col-sm-4
			//- 		img(src='/images/homepage-andros.jpg')
			//- 		p 
			//- 			a(href="mailto:andros@silofunds.com") Andros Wong
			//- 		span Co-founder
			//- 	.col-sm-4
			//- 		img(src="/images/homepage-duaine.jpg")
			//- 		p
			//- 			a(href="mailto:du'aine@silofunds.com") Du'aine Davis
			//- 		span Co-founder
			//- 	.col-sm-4
			//- 		img(src="/images/homepage-howard.jpg")
			//- 		p
			//- 			a(href="mailto:howard@silofunds.com") Howard Tam
			//- 		span Co-founder
	include ./partials/footer.jade
block scripts
	// Custom Theme JavaScript
	script(src='javascript/signup-login.js')
	script(src='javascript/index.js')
	//Progress drawer
	script(src='javascript/progressDrawer.js')
	script.
		var resultsPage = !{JSON.stringify(resultsPage)}
	// Google Analytics
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-74497958-1', 'auto');
		ga('send', 'pageview');
