extends layout

block extraHeader
  link(href='/stylesheets/notifications.css', rel='stylesheet')
  link(href='/stylesheets/user-dashboard.css', rel='stylesheet')
  link(href='/stylesheets/navbar-loggedin.css', rel='stylesheet')
  link(href='/stylesheets/institutions-dashboard.css', rel='stylesheet')
  link(href='/stylesheets/footer.css', rel='stylesheet')
block content
  script.
    var bodyEl = document.getElementsByTagName('body');
    var user = !{JSON.stringify(user)};
    var students = !{JSON.stringify(affiliated_students)}
    var pending_students = !{JSON.stringify(pending_students)}
    console.log(pending_students)
    if(user){
      bodyEl[0].className = bodyEl[0].className.split('nojs').join(' jsEnabled ');
      windowPortWidth = window.innerWidth;
      if(windowPortWidth <767){
        document.write('<style type="text/css">nav.navbar-custom{display:none}</style>');
      }
    }
  include ./navbar.jade
  include ./partials/navbar-loggedin.jade
  include ./advanced-search.jade
  .col-md-12.text-center(style='margin-top: 100px')
    h2#name= 'Welcome to your dashboard, ' + user.username
    if !institution.affiliated_students && !institution.pending_students
      if user.college || user.previous_university || user.subject
        p Start directing prospective students and alumni onto Silo!
    else
      if institution.affiliated_students
        .wrapper-div.col-md-12
          .progress-div
            h4 Approved students
            script#student-template(type='text/template')
              .col-md-3.student-card
                img.student-pictures(src!= '<%=profile_picture%>')
                .student-info
                  .student-intro
                    p.student-name <%= username %>
                    p.student_description <%= student_description %>
                  .progress-bar
                  .progress
                    .progress-bar.active#initial-bar(role='progressbar',	aria-valuemin='0', aria-valuemax='100', aria-valuenow="70")
                  .student-progress
                    .row
                      .col-md-3
                        p.percentage_accrued <%= percentage_accrued %>
                        span  funded
                      .col-md-3
                        p.funding_accrued <%= funding_accrued %>
                        span  raised
                      .col-md-3
                        p.funding_left <%= funding_left %>
                        span  <%=variable_text%>
                  .remove-affiliation 
                    a Remove affiliation
      if institution.pending_students
        .wrapper-div-pending.col-md-12
          .progress-div-pending
            if pending_students.length > 0
              h4(style='float: left') Pending students
            script#student-pending-template(type='text/template')
              .col-md-3.student-card
                img.student-pictures(src!= '<%=profile_picture%>')
                .student-info
                  .student-intro
                    p.student-name <%= username %>
                    p.student_description <%= student_description %>
                  .progress-bar
                  .progress
                    .progress-bar.active#initial-bar(role='progressbar',	aria-valuemin='0', aria-valuemax='100', aria-valuenow="70")
                  .student-progress
                    .row
                      .col-md-3
                        p.percentage_accrued <%= percentage_accrued %>
                        span  funded
                      .col-md-3
                        p.funding_accrued <%= funding_accrued %>
                        span  raised
                      .col-md-3
                        p.funding_left <%= funding_left %>
                        span  <%=variable_text%>
                  .approve-affiliation 
                    a Approve affiliation
            
        
  if affiliated_students.length === 0 && pending_students === 0
    .col-md-12.recommended-students
      .row
        .col-xs-7
          if users.length > 0
            p#recommended-header Recommended users
      .row
        each student in users
          .col-md-4.student-card
            if student.profile_picture
              img.student-pictures(src=student.profile_picture)
              .student-info
                a.name(href='/public/' + student.id)= student.username
                if student.subject && user.subject
                  p.same-faculty= 'Studying ' + student.subject.join(', ')
                if student.college && user.college
                  p.same-college= 'Part of ' + student.college
            else
              img.student-pictures(src='/images/fund_img_placeholder.jpg')
              .student-info
                a.name(href='/public/' + student.id)= student.username
                if student.subject && user.subject
                  p.same-faculty= 'Studying ' + student.subject.join(', ')
                if student.college && user.college
                  p.same-college= 'Part of ' + student.college.join(', ')
  include ./partials/footer.jade

block scripts
  script(src='/javascript/advanced-search.js')
  script(src='/javascript/signup-login.js')
  script(src='/javascript/notifications.js')
  script(src='/javascript/institution-dashboard.js')
          
