extends layout

block extraHeader
	link(href='/stylesheets/results.css', rel='stylesheet')
	link(href='/stylesheets/footer.css', rel='stylesheet')
	link(href='/stylesheets/job-results.css', rel='stylesheet')
	link(href='/stylesheets/navbar-loggedin.css', rel='stylesheet')


block content
	script.
		var bodyEl = document.getElementsByTagName('body');
		var user = !{JSON.stringify(user)};
		if(user){
			bodyEl[0].className = bodyEl[0].className.split('nojs').join(' jsEnabled ');
			windowPortWidth = window.innerWidth;
			if(windowPortWidth <767){
				document.write('<style type="text/css">nav.navbar-custom{display:none}</style>');
			}
		}
	include ./navbar.jade
	include ./partials/navbar-loggedin.jade
	include ./partials/signup-modal.jade
	include ./advanced-search.jade
	.queryToken
		if from_homepage
			.alert.alert-info.center-block(style='width: 50%; margin-left: 25%; margin-bottom: 20px')
				p You can use the 
					a#many-results advanced search 
					| to search for students in a specific subject or college
	
	.col-lg-8.col-lg-offset-2.col-sm-10.col-sm-offset-1
		if jobs.length > 0
			div.listings
				h1.page_title Job Listings
				each job in jobs
					div.job_listing
						a(href=job.url)
							h2.name= job.name  
								p.location= job.location
								p.time_requirements= job.time_requirements
						p.description= job.description
						p.requirements= job.requirements
						p.pay= job.pay
						button.btn.btn-info.enquire(data-id=job.id, data-name=job.name, data-url=job.url) Enquire
							i.fa.fa-envelope
		else
			p#no-results(style= 'text-align: center; margin-top: 10px;') Your search returned no results. Try changing the 
				a(href='/advanced-search') search queries here.
	include ./partials/footer.jade
block scripts
	script(src='/javascript/advanced-search.js')
	script(src='/javascript/lib/modernizr-custom.js')
	script(src='/javascript/notifications.js')
	script(src='/javascript/job-results.js')
	script(src='/javascript/signup-login.js')
	script.
		var userData =!{JSON.stringify(jobs)};
		var user = !{JSON.stringify(user)};
