extends layout

block extraHeader
  link(href='/stylesheets/results.css', rel='stylesheet')
  link(href='/stylesheets/option-profile.css', rel='stylesheet')

block content
  include ./navbar.jade
  #big_flex_div.container
    #left_div.container
      #box_1
        a#fundWebsite(href=fund.link) 
          img#fundImage(src=user.profile_picture)
      #box_2
        h4#bio=fund.title
        #left_info_div
          p#fundBio #{fund.description}
        a#message.center-block.btn.btn-default(href="mailto:" + user.email)
          i.fa.fa-comments-o(aria-hidden="true")
          |Message us
      #box_3
        p#general General Info
        hr
        .row
          .col-md-6
            if fund.number_of_places
              p#number_of_places= fund.number_of_places + ' '
                span places available
          .col-md-6
            if fund.minimum_amount && !fund.maximum_amount
              p#amount= '£' + fund.minimum_amount + '+'
            if !fund.minimum_amount && fund.maximum_amount
              p#amount= '< £' + fund.maximum_amount
            if fund.minimum_amount && fund.maximum_amount
              p#amount= '£' + fund.minimum_amount + ' - £' + fund.maximum_amount
        .row
          .col-md-12
            if fund.duration_of_scholarship
              p#duration= 'This ' + fund.support_type + ' will last for ' 
                span= fund.duration_of_scholarship
                
    #right_div
      //- #eligibility_div 
      //-   p#eligibility_div_p This box will display any users eligibility for your fund
      #box_3_right
        p#eligibility_para_right Eligibility
        hr
        .eligibility-display
          #subject-handler
            .col-md-12
              span.glyphicon.glyphicon-book
              p.description Subject
          #personal-handler
            .col-md-12
              span.glyphicon.glyphicon-user
              p.description Personal
          #education-handler
            .col-md-12
              span.glyphicon.glyphicon-education
              p.description Education
          #location-handler
            .col-md-12
              span.glyphicon.glyphicon-globe
              p.description Location
          #other-handler
            .col-md-12
              p.description Other eligibility requirements
          .row#just-trying
            script#image-template(type='text/template')
              .col-md-4.criteria-box
                .col-md-2
                  img#icon-image(src!= '<%= imageSource %>', data-toggle = 'tooltip', title!= '<%= section%>')
                .col-md-10
                  span.criteria <%=criteria %>
            script#other-eligibility-template(type='text/template')
              .other-box
                .col-md-12
                  span.criteria <%= criteria %>
              
      #application_form
        p.head Application process
        hr
        script#application-process(type='text/template')
          if fund.application_open_date
            #start_date  <%= application_open_date %>
            p.arrow#arrow_1 
              i.fa.fa-angle-double-down(aria-hidden="true")
          #documents_deadline <%= application_documents %>
          p.arrow#arrow_2 
            i.fa.fa-angle-double-down(aria-hidden="true")
          if fund.interview_date
            #interviews <%= interview_date %>
            p.arrow#arrow3
              i.fa.fa-angle-double-down(aria-hidden="true")
          if fund.application_decision_date
            #decision_date <%= application_decision_date %>
          if fund.other_application_steps
            #other-application
              p Other application steps:  
                span=fund.other_application_steps
              
          a#apply_now_link.btn.btn-default(href!= '<%= application_link %>') Apply now
          .mb-style-3
            blockquote#tips
              p This is an example tip which will help student achieve their goals.
            .mb-attribution
                p.mb-author Andros Wong
                cite 
                  a(href='#0') Funded by Silo for life
                .mb-thumb
                  img(src='/images/graduation.jpg')
    
block scripts
  script.
    var fund = !{JSON.stringify(fund)}
    var countries = !{JSON.stringify(countries)}
  script(src="/node_modules/readmore-js/readmore.min.js")
  script(src="/javascript/option-profile.js")
  

  

  
