extends layout

block extraHeader
  link(href='/stylesheets/results.css', rel='stylesheet')
  link(href='/stylesheets/option-profile.css', rel='stylesheet')

block content
  script.
    var bodyEl = document.getElementsByTagName('body');
    var user = !{JSON.stringify(user)};
    var fund = !{JSON.stringify(fund)};
    var favourite = !{JSON.stringify(favourite)};
    if(user){
      bodyEl[0].className = bodyEl[0].className.split('nojs').join(' jsEnabled ');
    }
  include ./navbar.jade
  include ./signup-modal.jade
  if user && newVisit
    .alert-known.alert-success
      .container-block.center-block
        span Have you heard of this fund before?
        label.radio-inline
          input(type='radio', name='fund_known', value= "true")
          | Yes
        label.radio-inline
          input(type='radio', name='fund_known', value = "false")
          | No
  if user.organisation_or_user === fund.organisation_id && fund.organisation_id
    .alert.alert-info(role='alert')
        a(href='/organisation/options/' + fund.id + '/edit') 
          span.glyphicon.glyphicon-pencil(aria-hidden='true')
          | Make changes to this funding profile
  if ownedFund
    #photoUpdateModal.modal.fade(role='dialog')
        .modal-dialog
          // Modal content
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title Update your profile picture
            .modal-body
              #update_pic_div
                figure#profile-figure
                    input#my_file(type='file', style='display: none;', name = 'profile_picture')
                    img#profile-picture(src="/images/fund_img_placeholder.jpg")
                  figcaption#add-profile Upload a profile picture
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
  #signup-modal-fade
  #signup-block.center-block
    p#helper-text= 'To see more of ' + fund.title + ' you can sign up to Silo '
    p#helper-text-2 Check your eligibility, learn about the application process and more. Log in if you already have an account.
    #signup-button-div
      a#signup.btn.btn-success(href='/register') Signup
      a#login.btn.btn-primary(href='/login') Log in
    a#not-now Not now
  #big_flex_div.container
    #left_div.container
      #box_1
        if fund.link
          a#fundWebsite(href=fund.link)
            if organisation
              if(organisation.profile_picture)
                img#fundImage(src=organisation.profile_picture)
                span#favourite ☆
        else
          //- a#fundWebsite(href='/organisation/options/' + fund.id )
          if organisation
            if(organisation.profile_picture)
              img#fundImage(src=organisation.profile_picture)
              span#favourite ☆
      #box_2
        if ownedFund && !organisation.profile_picture
          img#fund_img_placeholder(src="/images/fund_img_placeholder.jpg")
          #arrow_box_div
            .arrow_box
              | You still need to add an image (or logo) for your fund
        if fund.link
          if !organisation.profile_picture
            a#external-link(href!=fund.link, style='background: white; padding: 30px;margin-bottom: 30px; border: 1px solid #e1e8ed; border-radius: 3px; margin-top -10px;')
              span#favourite(style='margin-left: -20px;margin-top: -25px') ☆
              #fund_title_div
                h4(style='font-size: 22px;')#bio=fund.title
              
          else
            a#external-link(href!=fund.link)
              h4#bio=fund.title
        else  
          if !organisation.profile_picture
            span#favourite(style='margin-left: 10px;margin-top: 13px') ☆
            h4#bio(style='background: white;font-size: 22px; padding: 30px; margin-bottom: 20px; border-radius: 3px;border: 1px solid #e1e8ed; margin-top -10px;')=fund.title
          else
            h4#bio=fund.title
        #left_info_div
          p#fundBio 
          if fund.number_of_places
            .info-row
              i.fa.fa-archive(aria-hidden="true")
              p#number_of_places= fund.number_of_places + ' '
              span places available
          if fund.minimum_amount && !fund.maximum_amount
            .info-row
              i.fa.fa-gbp(aria-hidden="true")
              p#amount=fund.minimum_amount + '+'
          if !fund.minimum_amount && fund.maximum_amount
            .info-row
              i.fa.fa-gbp(aria-hidden="true")
              p#amount='<' + fund.maximum_amount
          if fund.minimum_amount && fund.maximum_amount
            .info-row
              i.fa.fa-gbp(aria-hidden="true")
              p#amount=fund.minimum_amount + ' - ' + fund.maximum_amount
          if fund.duration_of_scholarship
            .info-row
              i.fa.fa-calendar-check-o(aria-hidden="true")
              p#duration= 'This ' + fund.support_type + ' will last for ' 
                span= fund.duration_of_scholarship
        a#message.center-block.btn.btn-default(href="mailto:" + organisation.email)
          i.fa.fa-comments-o(aria-hidden="true")
          |Message us
      //- #box_3
      //-   p#general General Info
      //-   hr
    if(!organisation.profile_picture)
      #right_div(style='margin-top: 10px;')
        //- #eligibility_div 
        //-   p#eligibility_div_p This box will display any users eligibility for your fund
        #box_3_right
          p#eligibility_para_right Eligibility
          hr
          .eligibility-display
            #subject-handler
              .col-md-12
                span.glyphicon.glyphicon-book
                p.description Subject
            #personal-handler
              .col-md-12
                span.glyphicon.glyphicon-user
                p.description Personal
            #education-handler
              .col-md-12
                span.glyphicon.glyphicon-education
                p.description Education
            #location-handler
              .col-md-12
                span.glyphicon.glyphicon-globe
                p.description Location
            #other-handler
              .col-md-12
                p.description Other eligibility requirements
            .row#just-trying
              script#image-template(type='text/template')
                .col-md-4.criteria-box
                  .col-md-2
                    img#icon-image(src!= '<%= imageSource %>', data-toggle = 'tooltip', title!= '<%= section%>')
                  .col-md-10
                    span.criteria <%=criteria %>
              script#other-eligibility-template(type='text/template')
                .other-box
                  .col-md-12
                    span.criteria <%= criteria %>

        #eligibility_div 
          p#eligibility_div_p 
        #notEligible.modal-box
          .modal-container 
            .modal-bar
              p Eligibility explanation
            script#notEligible-template(type='text/template')
              .row
                #wrong-cross.col-md-2
                  i.fa.fa-times-circle(aria-hidden="true")
                #fund-requirements.col-md-5
                  p#requirement-description <%= requirement_description %>
                  p#requirement <%= requirement %>
                #user-info.col-md-5
                  p#user-description <%= user_description %>
                  p#user <%= user %>
            a.disagree-email(href="mailto:howard@silofunds.com") Disagree? Email us and explain why you think you should be eligible for this fund.
        #application_form
          p.head Application process
          hr
          script#application-process(type='text/template')
            if fund.application_open_date
              #start_date  <%= application_open_date %>
              p.arrow#arrow_1 
                i.fa.fa-angle-double-down(aria-hidden="true")
            #documents_deadline <%= application_documents %>
            p.arrow#arrow_2 
              i.fa.fa-angle-double-down(aria-hidden="true")
            if fund.interview_date
              #interviews <%= interview_date %>
              p.arrow#arrow3
                i.fa.fa-angle-double-down(aria-hidden="true")
            if fund.application_decision_date
              #decision_date <%= application_decision_date %>
            if fund.other_application_steps
              #other-application
                p Other application steps:  
                  span=fund.other_application_steps
            a#apply_now_link.btn.btn-default(href!= '<%= application_link %>') Apply now
            span#application-notification
      script#tips-template(type='text/template')
        .mb-style-3
          blockquote#tips
            p <%= tip %>
          .mb-attribution
              p.mb-author <%= tip_giver %>
              cite 
                //- a(href='#0') Funded by Silo for life
              .mb-thumb
                img(src!= '<%= profile_picture %>')
    else
      #right_div
        //- #eligibility_div 
        //-   p#eligibility_div_p This box will display any users eligibility for your fund
        #box_3_right
          p#eligibility_para_right Eligibility
          hr
          .eligibility-display
            #subject-handler
              .col-md-12
                span.glyphicon.glyphicon-book
                p.description Subject
            #personal-handler
              .col-md-12
                span.glyphicon.glyphicon-user
                p.description Personal
            #education-handler
              .col-md-12
                span.glyphicon.glyphicon-education
                p.description Education
            #location-handler
              .col-md-12
                span.glyphicon.glyphicon-globe
                p.description Location
            #other-handler
              .col-md-12
                p.description Other eligibility requirements
            .row#just-trying
              script#image-template(type='text/template')
                .col-md-4.criteria-box
                  .col-md-2
                    img#icon-image(src!= '<%= imageSource %>', data-toggle = 'tooltip', title!= '<%= section%>')
                  .col-md-10
                    span.criteria <%=criteria %>
              script#other-eligibility-template(type='text/template')
                .other-box
                  .col-md-12
                    span.criteria <%= criteria %>

        #eligibility_div 
          p#eligibility_div_p 
        #notEligible.modal-box
          .modal-container 
            .modal-bar
              p Eligibility explanation
            script#notEligible-template(type='text/template')
              .row
                #wrong-cross.col-md-2
                  i.fa.fa-times-circle(aria-hidden="true")
                #fund-requirements.col-md-5
                  p#requirement-description <%= requirement_description %>
                  p#requirement <%= requirement %>
                #user-info.col-md-5
                  p#user-description <%= user_description %>
                  p#user <%= user %>
            a.disagree-email(href="mailto:howard@silofunds.com") Disagree? Email us and explain why you think you should be eligible for this fund.
        #application_form
          p.head Application process
          hr
          script#application-process(type='text/template')
            if fund.application_open_date
              #start_date  <%= application_open_date %>
              p.arrow#arrow_1 
                i.fa.fa-angle-double-down(aria-hidden="true")
            #documents_deadline <%= application_documents %>
            p.arrow#arrow_2 
              i.fa.fa-angle-double-down(aria-hidden="true")
            if fund.interview_date
              #interviews <%= interview_date %>
              p.arrow#arrow3
                i.fa.fa-angle-double-down(aria-hidden="true")
            if fund.application_decision_date
              #decision_date <%= application_decision_date %>
            if fund.other_application_steps
              #other-application
                p Other application steps:  
                  span=fund.other_application_steps
            a#apply_now_link.btn.btn-default(href!= '<%= application_link %>') Apply now
            span#application-notification

      script#tips-template(type='text/template')
        .mb-style-3
          blockquote#tips
            p <%= tip %>
          .mb-attribution
              p.mb-author <%= tip_giver %>
              cite 
                //- a(href='#0') Funded by Silo for life
              .mb-thumb
                img(src!= '<%= profile_picture %>')
          //-         #scholars_div
  //- #separator_1      
  //- #review_div.container-fluid.center-block
  //-   .col-md-6
  //-     p#review-number 0 Reviews from the Silo community
  //-   .col-md-2
  //-   .col-md-2
  //-     a.btn.btn-primary Write a review
      
  //- #scholars_div
  //- 
  //-    p#previous_scholars Previous Scholars
  //-    
  //-    #scholars_main_div
  //-    
  //-      #scholars_second_div
  //-        #pic1_div
  //-          #pic1
  //-            a#pic1_link
  //-              img#pic1_image(src='/images/howard.jpg')
  //-          #info_1
  //-            p#person1_info.boldIt Howard, 21
  //-            #pic3_description_div
  //-              p#pic1_description  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
  //-              
  //-        #pic2_div
  //-          #pic2
  //-            a#pic2_link
  //-              img#pic2_image(src="/images/du'aine.jpg")
  //-          #info_2
  //-            p#person2_info.boldIt Du'aine, 22
  //-            #pic2_description_div
  //-              p#pic2_description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
  //-              
  //-        #pic3_div      
  //-          #pic3
  //-            a#pic3_link
  //-              img#pic3_image(src='/images/james.jpg')
  //-          #info_3
  //-            p#person3_info.boldIt James, 20
  //-            #pic3_description_div
  //-              p#pic3_description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
  //-              
  //-        #pic4_div   
  //-          #pic4
  //-            a#pic4_link
  //-              img#pic4_image(src='/images/andros.jpg')
  //-          #info_4
  //-            p#person4_info.boldIt Andros, 20
  //-            #pic4_description_div
  //-              p#pic4_description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
block scripts
  script.
    var fund = !{JSON.stringify(fund)}
    var countries = !{JSON.stringify(countries)}
    var user = !{JSON.stringify(user)}
  script(src="/javascript/signup-login.js")
  script(src="/node_modules/readmore-js/readmore.min.js")
  script(src="/javascript/option-profile.js")
  

  

  
