extends layout

block extraHeader
	link(href='/stylesheets/results.css', rel='stylesheet')

block content
		script.
			var bodyEl = document.getElementsByTagName('body');
			var user = !{JSON.stringify(user)};
			if(user){
				bodyEl[0].className = bodyEl[0].className.split('nojs').join(' jsEnabled ');
				windowPortWidth = window.innerWidth;
				if(windowPortWidth <767){
					document.write('<style type="text/css">nav.navbar-custom{display:none}</style>');
				}
			}
		include ./navbar.jade
		include ./partials/navbar-loggedin.jade
		include ./advanced-search.jade
		section#about.container.content-section.text-center
				include ./partials/signup-modal.jade
				if funds.length > 100
					.alert.alert-info
						p Your search has returned many results. Use the 
							a#many-results advanced search 
							| to narrow down and improve your results.
				.queryToken
					if relevant_terms
						span#suggester= 'Did you mean - '
							a#suggester-link
								each term in relevant_terms
									if relevant_terms.indexOf(term) == relevant_terms.length - 1
										each key, val in term
											span= val.split('_').join(' ') + ': ' 
												b= key
									else
										each key, val in term
											span= val.split('_').join(' ') + ': ' 
												b= key + ', '
								| ?
					span#wrapper-span You searched for:
						each value, key in query
							if key != 'sort_by'
								if key.indexOf('_') != -1
										span#tokenKey(class=key)= key.split('_').join(' ') + ": "  
											each tag in value.split(' ')
												a(href='/results?' + key+'=' + tag)= tag
											i.fa.fa-times
								else
										span#tokenKey(class = key)=key + ": " 
											if key != 'age'
												each tag in value.split(' ')
													a(href='/results?' + key +'=' + tag)= tag
											else
												a(href='/results?' + key + '=' + 'age')= value 
											i.fa.fa-times
					span#sort Sort by:
						.dropdown
							button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
								if sort_by
									if sort_by == 'deadline'
										| Deadline
									if sort_by == 'highest_amount'
										| Higest amount
									if sort_by == 'lowest_amount'
										| Lowest amount
								else
									| Relevance
								span.caret
							ul.dropdown-menu(aria-labelledby='dropdownMenu1')
								li
									a#relevance-sort Relevance
								li
									a#deadline-sort(href='#') Deadline
								li
									a#highest-amount-sort(href='#') Highest amount
								li
									a#lowest-amount-sort Least amount
				.col-lg-8.col-lg-offset-2
					#countriesModal.modal.fade(role='dialog')
						.modal-dialog
							// Modal content
							.modal-content
								.modal-header
									button.close(type='button', data-dismiss='modal') ×
									h4.modal-title Applicable countries
								.modal-body
									p#countriesModalText
								.modal-footer
									button.btn.btn-default(type='button', data-dismiss='modal') Close
					div.results
						p
							span
						button#show-all.btn.btn-primary(type='button') Only show funds who have not passed their deadlines
					.contact-div
						p#contact-us Our search engine didn't return any funds for you! Email 
							a(href='mailto:howard@silofunds.com') Us
							| and we'll personally find a funding opportunity that suits you.
					.no-suitable-funds(style='position: fixed; width: 300px; bottom: 0; right: 0px; z-index: 100; background-color: #e74c3c; padding: 15px; border-radius: 4px')
						i.fa.fa-times.close-message(style= 'float: right; cursor: pointer')
						p#message-us(style='font-size: 15px; margin-bottom: 0; color: white') No relevant results? Send us a request 
							a(href='/contact_us', style='color: white; text-decoration: underline') here
							span= ' and we will personally find you a suitable funding opportunity.'
					.message-box(style='position: fixed; bottom: 20px; right: 20px; background: #e74c3c; border-radius: 50%; width: 50px; height: 50px; cursor: pointer')
						i.fa.fa-comments(style='font-size: 35px; margin-top: 6px')
					div.page-header
						script#fund-template(type='text/template')
							.lazyload
								//
									<ul class="database">
										<div class="fund_list">
											<li><a id="profile_link<%= id %>">
													<h3 class="fund_title"><%= title %></h3></a>
												<h4 id="deadline-passed" class="deadline-passed<%= id %>">Oops the deadline has passed for this fund...</h4>
											</li>
											<li class="fund_info">
												<p class="fund_subjects<%= id %>">Subjects:</p>
												<p class="fund_min_amount<%= id %>"><span class="control"></span></p>
												<p class="fund_max_amount<%= id %>"><span class="control"><%= maximum_amount %></span></p>
												<p class="fund_min_age<%= id %>"><span class="control"><%= minimum_age %></span></p>
												<p class="fund_max_age<%= id %>"><span class="control"><%= maximum_age %></span></p>
												<p class="nationalities<%= id %>"></p>
												<p class="deadline<%= id %>">Deadline:<span class="control badge badge-deadline"><%= deadline %></span></p>
											</li>
											<label id="<%= id %>">Additional Information:
												<div class="description_control"></div>
											</label>
										</div>
									</ul>

block scripts
	//advanced search
	script(src='javascript/advanced-search.js')
	//search functions
	//Modernizr
	script(src='javascript/lib/modernizr-custom.js')
	//lazyload
	script(src='javascript/jquery.lazyload-any.js')
	//moment
	script(src='/bower_components/moment/min/moment-with-locales.js')
	script(src='/javascript/notifications.js')
	script(src='javascript/results.js')
	// signup functions
	script(src='javascript/signup-login.js')
	script.
		var fundData =!{JSON.stringify(funds)};
		var user = !{JSON.stringify(user)};
		var resultsPage = !{JSON.stringify(resultsPage)};
		var relevant_terms = !{JSON.stringify(relevant_terms)};
		var sort_by = !{JSON.stringify(sort_by)};
		console.log(sort_by)
		var query = !{JSON.stringify(query)};
		// Google Analytics
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-74497958-1', 'auto');
		ga('send', 'pageview');
