extends layout

block extraHeader
	link(href='stylesheets/results.css', rel='stylesheet')
	
block content
		nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
			#container.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
						i.fa.fa-bars

					a#brand-heading.navbar-brand(href='/')
						img#brand-image(src="images/transparent silo icon graphic.png")
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
							i.fa.fa-bars
					form.search_form(id = "search-form", action='/results', method='get', name='search_form')
						#dropdown.dropdown
							a#refine-search(href='#0') Refine search 
							button#search-dropdown.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
								i.fa.et-down.fa-bars
								i.fa.et-down.fa-angle-down
							ul#dropdown-menu.dropdown-menu
								li.dropdown-header type of profile search
								li#grants
									| Grants
									span
										i.fa.fa-check
								//
									li#users
										| Users  
										span
											i.fa.fa-check         
						input#text_search.tags(type='text', name='tags', placeholder='Keywords - Subject, University, Degree level')
						button#search_button.btn.btn-info(type='submit')
							i.fa.fa-search
				// Collect the nav links, forms, and other content for toggling
				#collapse.collapse.navbar-collapse.navbar-right.navbar-main-collapse
					ul.nav.navbar-nav
						li
							a.cd-login.page-scroll.pre-signin(href='#0') Log in
						li
							a.cd-signup.page-scroll.pre-signin(href='#0') Sign up
						li.post-signin
							button
								a#home(href="#0")
									i.fa.fa-user
						//
							li.post-signin
							 i.fa.fa-comment-o
						li.post-signin
							.dropdown
								button#settings-button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
									i.fa.fa-cog
								ul#settings-menu.dropdown-menu
									li#settings
										a.settings(href="#0")
											| Settings
									li.divider(role='separator')
									li#logout
										a.logout(href="#0")
											| Log out
		section#advanced-search.container.content-section.text-center
			.row
				.col-md-4
					label(for='age') Age:
					input#advanced-age.age(type = "number", name = "age", form = "search-form")
				.col-md-4
					label(for= 'nationality') Nationality:
					input#advanced-nationality.nationality(type = "text", name = "nationality", form = "search-form")	 
				.col-md-4
					label(for= 'religion') Religion:
					input#religion.religion(type = "text", name = "religion", form = "search-form")				 
			.row		
				.col-md-4
					label#amount_needed(for= 'amount_needed') Amount:
					input#input-amount.amount_needed(type = "text", name = "funding_needed", form = "search-form")
				.col-md-4
					label#merit-or-finance Merit or Finance
					.row
						.col-md-6
							label.radio-inline
								input#merit.merit(type='radio', name='merit_or_finance', value='merit', form = "search-form")
								| Merit
						.col-md-6
								label.radio-inline
										input#finance.finance(type='radio', name='merit_or_finance', value='finance', form = "search-form")
										| Finance
				.col-md-4
					label#gender Gender
					.row
						.col-md-6
							label.radio-inline
								input#male.male(type='radio', name = 'gender', value= 'male', form = "search-form")
								| Male
						.col-md-6
							label.radio-inline
								input#female.female(type='radio', name = 'gender', value = 'female', form = "search-form")
								| Female
		section#advanced-search-2.container.content-section.text-center
			.row
				.col-md-4
					label(for='age') Age:
					input#advanced-age-2(type = "number", name = "user_age", form = "search-form") 
						
				.col-md-4
					label(for= 'nationality') Nationality:
					input#advanced-nationality(type = "text", name = "user_nationality", form = "search-form") 
				.col-md-4
					label(for= 'religion') Religion:
					input#religion(type = "text", name = "user_religion", form = "search-form")				 
			.row		
				.col-md-4
					label#amount_needed(for= 'amount_needed') Amount:
					input#input-amount(type = "text", name = "user_funding_needed", form = "search-form")
				.col-md-4
					label#gender Gender
					.row
						.col-md-6
							label.radio-inline
								input#male(type='radio', name = 'user_gender', value= 'male', form = "search-form")
								| Male
						.col-md-6
							label.radio-inline
								input#female(type='radio', name = 'user_gender', value = 'female', form = "search-form")
								| Female
		section#about.container.content-section.text-center
				.row
					.cd-user-modal
						.cd-user-modal-container
							ul.cd-switcher
								li
									a(href='#0') Log in
								li
									a(href='#0') New account
							#cd-signup
								form(id='signup-form',class = 'cd-form',action = '/signup',method = "post",name = "signup_form")
									p#email-username.fieldset
										label.image-replace.cd-username(for='signup-username')
										input#signup-username.full-width.has-padding.has-border(type='text', placeholder='Full Name', name='username')
										span#username-error.cd-error-message 
									p#email-signup.fieldset
										label.image-replace.cd-email(for='signup-email') Email
										input#signup-email.full-width.has-padding.has-border(type='email', placeholder='Email Address', name='useremail')
										span#email-error.cd-error-message 
									p#email-signup-password.fieldset
										label.image-replace.cd-password(for='signup-password') Password
										input#signup-password.full-width.has-padding.has-border(type='text', placeholder='Password', name='userpassword')
										a.hide-password(href='#0') Hide
										span#password-error.cd-error-message Error message here!
									p#fb-social.signup-social-btn
										a.btn.btn-block.btn-social.btn-lg.btn-facebook(href = "/auth/facebook")
											span.fa.fa-facebook
											| Log in with Facebook
									p#google-social.signup-social-btn
										a.btn.btn-block.btn-social.btn-lg.btn-google(href = "/auth/google")
											span.fa.fa-google
											| Log in with Google
									p#linkedin-social.signup-social-btn
										a.btn.btn-block.btn-social.btn-lg.btn-linkedin(href = "/auth/google")
											span.fa.fa-linkedin
											| Log in with Linkedin
									//
										p#email-signup-option
											a(href='#0') Continue with email. 
											span By signing up you indicate that you have read and agree to the Terms of Service and Privacy Policy.
									p#signup-terms.fieldset
										input#accept-terms(type='checkbox')
										label(for='accept-terms' id = "terms")
											| I agree to the 
											a(href='#0') Terms 
											span#terms-error  Please agree to the terms and conditions 
									p#signup-btn.fieldset
										button.full-width.has-padding(type='submit', id = "signup-button") Create account

							#cd-login
								// log in form
								form.cd-form(id = 'login-form', action = "/login", method = "post", name = "login_form")
									p#email-login.fieldset
										label.image-replace.cd-email(for='signin-email') E-mail
										input#signin-email.full-width.has-padding.has-border(type='email', placeholder='E-mail', name = 'useremail')
										span#login-email-error.cd-error-message Error message here!
									p#email-login-password.fieldset
										label.image-replace.cd-password(for='signin-password') Password
										input#signin-password.full-width.has-padding.has-border(type='text', placeholder='Password', name = 'password')
										a.hide-password(href='#0') Hide
										span#signin-password-error.cd-error-message Error message here!
									p#fb-social.login-social-btn
										a.btn.btn-block.btn-social.btn-lg.btn-facebook(href = "/auth/facebook")
											span.fa.fa-facebook
											| Log in with Facebook
									p#google-social.login-social-btn
										a.btn.btn-block.btn-social.btn-lg.btn-google(href = "/auth/google")
											span.fa.fa-google
											| Log in with Google
									p#linkedin-social.login-social-btn
										a.btn.btn-block.btn-social.btn-lg.btn-linkedin(href = "/auth/linkedin")
											span.fa.fa-linkedin
											| Log in with Linkedin
									p#remember.fieldset
										input#remember-me(type='checkbox', checked='')
										label(for='remember-me') Remember me
									p#email-login-btn.fieldset
										button#login-button.full-width.has-padding(type='submit') Login
									//
										p#email-option
											a(href="#0") Continue with email
								p.cd-form-bottom-message
									a(href="#0") Forgot your password?
							#cd-reset-password
								// reset password form
								p.cd-form-message
									| Lost your password? Please enter your email address. You will receive a link to create a new password.
								form.cd-form
									p#resend-email.fieldset
										label.image-replace.cd-email(for='reset-email') E-mail
										input#reset-email.full-width.has-padding.has-border(type='email', placeholder='E-mail')
										span.cd-error-message Error message here!
									p#reset-password.fieldset
										button#reset-password.full-width.has-padding(type='submit') Reset password
								p.cd-form-bottom-message
									a(href='#0') Back to log-in
							// cd-reset-password
							a.cd-close-form(href='#0') Close
								//
							// cd-login
					.col-lg-8.col-lg-offset-2
						div.results
							h3
								span='Your search returned ' + funds.length + ' results'

						div.page-header
							script#fund-template(type='text/template')
								ul.database
									.fund_list
										li
											h3.fund_title <%= fund_title %>
										li.fund_info
											p(class!= 'fund_tags' + '<%= fund_id %>') Tags: 
											p(class!= 'fund_min_amount' + '<%= fund_id %>' )  
												span.control
											p(class!= 'fund_max_amount' + '<%= fund_id %>')  
												span.control <%= maximum_amount %>
											p(class!='fund_min_age' + '<%= fund_id %>' ) 
												span.control <%= minimum_age %>
											p(class!= 'fund_max_age' +  '<%= fund_id %>') 
												span.control <%= maximum_age %>
											p(class!= 'nationalities'+ '<%= fund_id %>') 
											p(class!='deadline' + '<%= fund_id %>') Deadline: 
												span.control.badge.badge-deadline <%= deadline %>
										label(id!='<%= fund_id %>') Additional Information 
												i.fa.fa-chevron-circle-down
												span(class="description_control") <%= description %>
											h4.fund_link
												a(href!='<%=fund_link %>', target='_blank') Apply Now

block scripts
	// Custom Theme JavaScript
	script(src='javascript/index.js')
	//search functions
	script(src='javascript/results.js')
	//Modernizr
	script(src='javascript/lib/modernizr-custom.js')
	script.
		var fundData =!{JSON.stringify(funds)};
		var user = !{JSON.stringify(user)};
		var resultsPage = !{JSON.stringify(resultsPage)};

		var query = !{JSON.stringify(query)};
		// Google Analytics
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-74497958-1', 'auto');
		ga('send', 'pageview');
