extends layout

block content
  nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
      .container
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          ul.nav.navbar-nav
            li.hidden
              a(href='#page-top')
            li
              a.page-scroll(href='#about') The App
            li
              a.page-scroll(href='#trial')
                span.light Start a grant
            li
              a.page-scroll(href='#contact') Contact Us
    header.intro
      .intro-body
        .container
          .row
            .col-md-8.col-md-offset-2
                h1.brand-heading
                  b
                    | S
                    span#title earch
                form.search_form(action='/search', method='post', name='search_form')
                  input(type='text', name='tags', id = "text_search", placeholder = "Search terms")
                  input(type='number', name='amount', id = "amount_req", placeholder = "Amount required")
                  input(type='number', name='age', id = "age", placeholder = "Age")
                  button.btn.btn-danger(type='submit') Search

    section#about.container.content-section.text-center
      .row
        .col-lg-8.col-lg-offset-2
          div.results
            h3
              span='Your search returned ' + funds.length + ' results'

          div.page-header
            ul.database
              - for (var i=0; i < funds.length; i++) {
                - var title = funds[i].title;
                - var link = funds[i].link;
                li
                  h3.fund_title=funds[i].title
                li
                  p.fund_amount Amount given:
                    span.control= '£'+funds[i].maximum_amount
                  - if (funds[i].minimum_age) {
                    p.fund_age Minimum Age:
                      span.control=funds[i].minimum_age
                  - }
                  - if (funds[i].maximum_age) {
                    p.fund_age Maximum Age:
                      span.control=funds[i].maximum_age
                  - }
                  p.fund_description Additional Information:
                     span.control=descriptions[title]
                  h4.fund_link
                   a(href=link, target='_blank') Apply Now
                  hr
              - }
