extend layout

block extraMeta
	meta(property='og:type', content='website')
	meta(property='og:url', content='https://www.silofunds.com/public/' + user.id + '/')
	meta(property='og:title', content=user.username + "'s funding page")
	meta(property='og:description', content='A crowdfunding page for ' + user.username + ".")
	meta(property='og:image', content=user.profile_picture)
	meta(property='og:site_name', content='SiloFunds')

block extraHeader
	link(href='/stylesheets/user-crowdfunding.css', rel='stylesheet')
	link(href='/stylesheets/navbar-loggedin.css', rel='stylesheet')
	link(href='/stylesheets/footer.css', rel='stylesheet')
	script(src='http://connect.facebook.net/en_US/all.js')
	script(src='https://checkout.stripe.com/checkout.js')
	

block content
	#fb-row
	script.
		window.fbAsyncInit = function() {
			FB.init({
					appId	: '506830149486287',
					xfbml	: true,
					status : true,
					cookie : true,
					version: 'v2.5'
			});
		};

		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	script.
		var bodyEl = document.getElementsByTagName('body');
		var user = !{JSON.stringify(user)};
		var documents = !{JSON.stringify(documents)};
		var applications = !{JSON.stringify(applications)}
		var donations = !{JSON.stringify(donations)};
		var updates = !{JSON.stringify(updates)};
		var loggedInUser = !{JSON.stringify(loggedInUser)};
		if(loggedInUser){
			bodyEl[0].className = bodyEl[0].className.split('nojs').join(' jsEnabled ');
			windowPortWidth = window.innerWidth;
			if(windowPortWidth <767){
				document.write('<style type="text/css">nav.navbar-custom{display:none}</style>');
			}
		}
	include ./navbar.jade
	include ./partials/navbar-loggedin.jade
	include ./advanced-search.jade
	include ./partials/signup-modal.jade
	#payment-div.alert.alert-success.hidden
	#payment-div-invisible
	#crowdfunding-wrapper.container
		if user && user.user_launch !== true
			#launch_box
				form(method='post', action='/user/launch')
					.alert.alert-info.col-xs-10.col-xs-offset-1
						span.col-xs-12 You have not yet launched your campaign, when it is ready click so others can see and donate to you!
						button.col-md-offset-5.col-md-2.col-xs-offset-4.col-xs-4(type='submit').launch_campaign.btn.btn-primary Launch!
		if user.funding_accrued > user.funding_needed
			.alert.alert-success(style='margin-top: -20px; width: 80%; margin-left: 10%; margin-bottom: 20px')
				p#successful-campaign.center-block
					i.fa.fa-check-square-o(style='margin-right: 10px; color: #2390fd; font-size: 19px; ')
					span(style='font-size: 18px')= 'They did it! Thanks to your help, the campaign was successful and the target was reached.'
		#pic-vid-div.col-md-7.col-sm-6.col-xs-12.remove-margin
			if user.profile_picture && !user.video
				.no-vid-pic-border
					img#profile_picture.pic-resize(src!=user.profile_picture)
			if user.video
				.video-div.mobile
				.video-div.desktop
			if !user.profile_picture && !user.video
				img#profile_picture.desktop(src='/images/fund_img_placeholder.jpg')
			.desktop
				include ./partials/user/crowdfunding/social-buttons.jade
				#story-about-updates-targeting-div-desktop
					include ./partials/user/crowdfunding/story-about-updates.jade
									
		#user-progress.col-md-5.col-sm-6.col-xs-12
			#progress-card
				if !user.video
					h3= user.username
				if user.video
					if user.profile_picture
						.flex-container
							.flex-div.flex-div-name
								span#sit_the_h3_down
									h3= user.username
							.flex-div.flex-div-middle
							.flex-div.flex-div-image
								img.ifVideoPhoto#profile_picture(src!=user.profile_picture)
					if !user.profile_picture
						h3= user.username
				if user.funding_needed
					if user.funding_accrued != null || user.funding_accrued > 0
						p#raised= '£' +user.funding_accrued
							span= 'of £' + user.funding_needed + ' reached'
					else
						p#raised £0
							span= 'of ' + user.funding_needed + ' reached'
				else
					if user.funding_accrued != null || user.funding_accrued > 0
						p#raised= '£' +user.funding_accrued
							span= ' reached'
					else
						p#raised £0
							span=' reached'
				.progress
					.progress-bar#initial-bar(role='progressbar',	aria-valuemin='0', aria-valuemax='100')
					.progress-bar#another-one(role='progressbar',	aria-valuemin='0', aria-valuemax='100')
				#progress-info.row
					.col-md-4.col-sm-4.col-xs-4
						p#percentage 0%
							span funded
					.col-md-4.col-sm-4.col-xs-4
						if charges
							p#no-of-supporters= charges
								span supporters
						else
							p#no-of-supporters 0
								span supporters
					.col-md-4.col-sm-4.col-xs-4
						p#remaining-days 0
							span days to go
				span
					#amount.input-group
						span.input-group-addon £
						input#donate-amount.form-control(type='number', aria-label='Amount (to the nearest pound)')
						span.input-group-addon .00
					if stripe_user
						a#donate.btn.btn-default= 'Donate to ' + user.username.split(' ')[0]
					if loggedInUser
						a#contact-user.btn.btn-default(href='/messages/' + user.id)= 'Message ' + user.username.split(' ')[0]
					if !loggedInUser
						a#contact-user.btn.btn-default(href='mailto:' + user.email)= 'Contact ' + user.username.split(' ')[0]
				#donate-amount.hidden
					#applicationFeeMessage.col-md-12.col-sm-12
						if user.refund
							p#refund-text You will be refunded if the user does not reach his/her goal.
						else
							p#refund-text The user will keep funds raised even if they do not reach their goal.
						input#is-anon(type='checkbox', name='is_anon', style='margin-right: 5px;')
						| Hide your name from this page. You will still have to enter your name for verification of the payment.
						p(style='margin-top: 10px') Do you want to pay the processing fee (~2.9% for non-European cards and 1.4% otherwise)?
						#buttonDiv.col-md-5.col-sm-5
							.btn-group.btn-group-justified
								.btn-group(role='group', aria-label='...')
									button#donorpays.btn.btn-default.active(type='button') I do!
								.btn-group(role='group', aria-label='...')
									button#recipientpays.btn.btn-default(type='button') Nope.
						#helperDiv.col-md-7.col-sm-7
							span#process-fee
						#comment-div
							textarea#comment-text(placeholder= 'Leave a note to show your support!')
			.mobile
				#story-about-updates-targeting-div-mobile
					include ./partials/user/crowdfunding/story-about-updates.jade
				include ./partials/user/crowdfunding/social-buttons.jade
				include ./partials/user/crowdfunding/applications-and-donations.jade
			.desktop
				include ./partials/user/crowdfunding/applications-and-donations.jade
	include ./partials/footer.jade
		

block scripts
	//moment
	script(src='/bower_components/moment/min/moment-with-locales.js')
	script(src='/javascript/advanced-search.js')
	script(src='/javascript/notifications.js')
	script(src='/javascript/user-crowdfunding.js')
	script(src='/javascript/signup-login.js')
	script.
		var user = !{JSON.stringify(user)}
		console.log(user)
