extend layout

block extraHeader
	link(href='/stylesheets/results.css', rel='stylesheet')
	link(href='/stylesheets/user-crowdfunding.css', rel='stylesheet')

block content
	script.
		var bodyEl = document.getElementsByTagName('body');
		var user = !{JSON.stringify(user)};
		var documents = !{JSON.stringify(documents)};
		console.log(user)
		console.log(documents);
		if(user){
			bodyEl[0].className = bodyEl[0].className.split('nojs').join(' jsEnabled ');
		}
	include ./navbar.jade
	include./advanced-search.jade
	#crowdfunding-wrapper.container
		.col-md-7
			img#profile_picture(src!=user.profile_picture)
			#social-media-flex-container
				.social
					i.fa.fa-facebook-official(aria-hidden="true")
					| Share
				.social
					i.fa.fa-twitter-square(aria-hidden="true")
					| Tweet
				.social
					i.fa.fa-pinterest-square(aria-hidden="true")
					| Pin
				.social
					i.fa.fa-tumblr-square(aria-hidden= "true")
					| Reblog
			#tab-table
				#tab-menu-flex
					a.menu-item(href='#story')
						p.active-item Story
					a.menu-item(href='#about')
						p About 
					a.menu-item(href='#updates')
						p Updates
					a.menu-item(href='#comments')
						p Comments
				#tab-content
					script#story-template(type='text/template')
						p#story
					script#about-template(type='text/template')
						if user.date_of_birth || user.country_of_residence
							p#header Basic Info
							hr
							.row
								if user.date_of_birth
									.col-md-3
										i.fa.fa-birthday-cake(aria-hidden="true")
										span#age 
								if user.country_of_residence
									each country in user.country_of_residence
										.col-md-4
											img(src='/images/128/' + country + '.png')
											span!= country
								if user.religion
										.col-md-6
											p#religion Religous Views:
												span=user.religion
						if user.previous_degree ||  user.previous_university
							p#header.education Education
							hr
							.row
								if user.previous_degree
								.col-md-6
									i.fa.fa-graduation-cap(aria-hidden="true")
										span#previous_degree= user.previous_degree.join(', ')
								if user.previous_university
									.col-md-6
										i.fa.fa-university(aria-hidden="true")
											span#previous_university= user.previous_university.join(', ')
						if documents
							p#header.documents Work showcase
							hr
							.document-row.row
					script#document-template(type='text/template')
						.col-md-6
							span
								i(class!= '<%= fileClass %>')
									a(href!='<%= fileLink %>') <%=fileName %>
								
											
										
									
					
				
		#user-progress.col-md-5
			#progress-card
				h3= user.username
				p#raised £700
					span of £1000 pledged
				.progress
					.progress-bar(role='progressbar', aria-valuenow='70', aria-valuemin='0', aria-valuemax='100', style='width:70%')
					span.sr-only 70% Complete
				#progress-info.row
					.col-md-4
						p 70% 
							span funded
					.col-md-4
						p 30 
							span supporters
					.col-md-4
						p 60
							span days to go
				a#donate.btn.btn-default Donate to Andros
			#funding-institutions.row
				#fund-banner
					p Funding Institutions
						i.fa.fa-caret-down(aria-hidden="true")
				p#none Andros has not applied to any funds yet.
			#recent-donations.row
				#donation-banner
					p Recent donations
						i.fa.fa-caret-down(aria-hidden="true")
				p#no-donations Andros has not received any donations yet.
			
		

block scripts
	script(src='/javascript/signup-login.js')
	script(src='/javascript/advanced-search.js')
	script(src='/javascript/user-crowdfunding.js')
