extends ../layout

block extraHeader
  link(href='/stylesheets/user-dashboard.css', rel='stylesheet')
block content
  script.
    var bodyEl = document.getElementsByTagName('body');
    var user = !{JSON.stringify(user)};
    var applied_funds = !{JSON.stringify(applied_funds)};
    var recent_funds = !{JSON.stringify(recent_funds)};
    console.log(recent_funds);
    if(user){
      bodyEl[0].className = bodyEl[0].className.split('nojs').join(' jsEnabled ');
    }
  include ../navbar.jade
  include ../advanced-search.jade
    
  section#user-dashboard.container.content-section
    .row
      // Flash messages
      if !user.email_is_verified
        a(href="/user/dashboard")
          #emailVerification.alert.alert-danger Your account has not yet been verified, click me if you need us to send you another email!
      if user.email_is_verified && verificationSuccess
        .alert.alert-success
          strong Success!
          |  You are now a verified user. 
          a(href='/user/authorize') Setup your stripe account
          |  to start receiving donations.
      if user.email_is_verified && !verificationSuccess && !stripe
        .alert.alert-warning
          a(href='/user/authorize') Setup your stripe account
          |  to start receiving donations.
      .col-md-12.text-center
        h2#name= 'Welcome to your dashboard, ' + user.username.split(' ')[0]
    section#recommended
      p#header Recommended for you
      .row.recommended-row
        each fund in funds
          .col-md-3
            img(src='/images/fund_img_placeholder.jpg')
            p
              a(href='/organisation/options/'+ fund.id, target='_blank')= fund.title
    section#updates
      p#header Post an update
      .row.update-row
        .col-md-1
          img#profile_picture(src= user.profile_picture)
        .col-md-10
          textarea#update-text(placeholder="Update your supporters on your progress and attract new donors!")
          #social-media-flex-container
            a#update.social.update
              | Post your update
            span#save-update-notification Your update has been posted
            //- a.social.twitter-tweet
            //-   i.fa.fa-twitter-square(aria-hidden="true")
            //-   | Tweet
            //- a.social.fb-share
            //-   i.fa.fa-facebook-official(aria-hidden="true")
            //-   | Share
          
        
    section
      ul.nav.nav-tabs
        li#tab-applications.active
          a#tab-applications.user-dashboard(href="#ud-applications" data-toggle="tab") Your Applications
        li#tab-favorites
          a#tab-favourites.user-dashboard(href="#ud-favourites" data-toggle="tab") Favourites
        li#tab-recently-browsed
          a#tab-recently-browsed.user-dashboard(href="#ud-recently-browsed" data-toggle="tab") Recently Browsed
        li#view-profile
          a.user-dashboard.btn.btn-primary(href='/user/profile') View your profile
    .tab-content
      .tab-pane.active.fade.in#ud-applications
        section.header
          if applied_funds.length > 0
            .row
              .col-md-12
                table.table.table-responsive#header
                  thead
                    tr
                      th.col-md-1 Type
                      th.col-md-3 Title
                      th.col-md-2 Countries of residence
                      th.col-md-2 Subject
                      th.col-md-2 Amount
                      th.col-md-1 Deadline
                      th.col-md-1 Status
            each fund in applied_funds
              .row#funding-card
                .col-md-1#support_type
                  span.label(id='#{fund.support_type}')= fund.support_type
                .col-md-3
                  a(href='/organisation/options/' + fund.id, target='_blank')
                    span= fund.title
                .col-md-2
                  span= fund.country_of_residence
                .col-md-2
                  if(fund.subject)
                    span= fund.subject.join(', ')
                .col-md-2
                  if (fund.minimum_amount && fund.maximum_amount)
                    span £#{fund.minimum_amount} - £#{fund.maximum_amount}
                  else if (fund.minimum_amount)
                    span £#{fund.minimum_amount} +
                  else if (fund.maximum_amount)
                    span < £#{fund.maximum_amount} 
                .col-md-1
                  span= fund.deadline
                .col-md-1#edit
                  a= fund.status
          else
            .row
              .col-md-12
                p You don't seem to have applied to any funds yet. 
                  a#explore Explore now!
        section.content-section
          .row
      .tab-pane.fade#ud-favourites
        section.header
          .row
            .col-md-12
              p You don't seem to have favourited any funds yet.
                
        section.content-section
          .row
      .tab-pane.fade#ud-recently-browsed
        section.header
          if recent_funds.length > 0
            .row
              .col-md-12
                table.table.table-responsive#header
                  thead
                    tr
                      th.col-md-1 Type
                      th.col-md-3 Title
                      th.col-md-2 Countries of residence
                      th.col-md-2 Subject
                      th.col-md-2 Amount
                      th.col-md-1 Deadline
                      th.col-md-1 
            each fund in recent_funds
              .row#funding-card
                .col-md-1#support_type
                  span.label(id='#{fund.support_type}')= fund.support_type
                .col-md-3
                  a(href='/organisation/options/' + fund.id, target='_blank')
                    span= fund.title
                .col-md-2
                  span= fund.country_of_residence
                .col-md-2
                  if(fund.subject)
                    span= fund.subject.join(', ')
                .col-md-2
                  if (fund.minimum_amount && fund.maximum_amount)
                    span £#{fund.minimum_amount} - £#{fund.maximum_amount}
                  else if (fund.minimum_amount)
                    span £#{fund.minimum_amount} +
                  else if (fund.maximum_amount)
                    span < £#{fund.maximum_amount} 
                .col-md-1
                  span= fund.deadline
                .col-md-1#edit
                  a(href='/organisation/options/' + fund.id, target='_blank') View
          else
            .row
              .col-md-12
                p Start browsing
                  a#start-browsing now!

block scripts
  script(src='/javascript/advanced-search.js')
  script(src='/javascript/signup-login.js')
  script(src='/javascript/user-dashboard.js')
