doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='fragment', content='!')
    title Silo
    // jQuery UI
    link(href='../../stylesheets/jquery-ui.min.css', rel='stylesheet')
    // Bootstrap Core CSS
    link(href='../../stylesheets/bootstrap.css', rel='stylesheet')
    link(href='../../stylesheets/bootstrap-social.css', rel='stylesheet')
    // Custom Fonts
    link(href='../../font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Nunito', rel='stylesheet', type='text/css')
    link(href='http://33.media.tumblr.com/avatar_5e9ecfc32b98_128.png', rel='shortcut icon')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    //underscore
    script(src="../../javascript/lib/underscore.js")
    // jQuery
    script(src='../../javascript/lib/jquery.js')
    // jQuery UI
    script(src='../../javascript/lib/jquery-ui.min.js')
    //Backbone
    script(src="../../javascript/lib/backbone.js")
    // Bootstrap Core JavaScript
    script(src='../../javascript/lib/bootstrap.min.js')
    // Plugin JavaScript
    script(src='../../javascript/lib/jquery.easing.min.js')
    // Hotjar Tracking Code for https://www.silofunds.com
    script.
      (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:163948,hjsv:5};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    block extraHeader
  body
    script.
      var bodyEl = document.getElementsByTagName('body');
      var user = !{JSON.stringify(user)};
      console.log(user);
      console.log(bodyEl);
      if(user){
        bodyEl[0].className = bodyEl[0].className.split('nojs').join(' jsEnabled ');
        console.log(bodyEl);
      }
    block content
    block scripts
