extends ../layout

block extraHeader
  link(href='/stylesheets/token-input-facebook.css', rel='stylesheet')
  link(href='/stylesheets/user-profile.css', rel = 'stylesheet')
  link(href='/stylesheets/option-signup.css', rel = 'stylesheet')

block content
  include ../navbar-fund.jade
  section#signup-wrapper.content-section.container.center-block
    .container.progress-buttons
      h4=support_type.charAt(0).toUpperCase() + support_type.slice(1) + ' Creation'
      button#general.progress-track.btn.btn-default
        a#general_link.activeHoverColor General information
          span.glyphicon.glyphicon-menu-right
      button#eligible.progress-track.btn.btn-default
        //- a(href='#eligible') Eligibility requirements
        a#eligible_link Eligiblity requirements
          span.glyphicon.glyphicon-menu-right
      button#application.progress-track.btn.btn-default
        a#application_link Application Process
          span.glyphicon.glyphicon-menu-right
      hr
    div.template-container
      script#general-template(type='text/template')
        div.container.description.name-container
          p#name= 'Name of ' + support_type
        div.container.name
          input#fund-name(name='title')
          .required#fund-name-required
        div.container.description.bio-container
          p#bio Add a few sentences to tell potential applicants and donors what this fund is about.
          textarea#bio-area.form-control(form='save-general', name='description')
          .required#bio-area-required
        div.container.description.form-group
          p.amount-offer Amount offered
            span.glyphicon.glyphicon-info-sign(data-toggle="tooltip", title="This should be the total amount offered, having considered duration of the " + support_type)
        div.container.amount.form-group
          .col-md-3
            input#min-amount.form-control(placeholder='Minimum amount', form='save-general', name='minimum_amount')
          .col-md-3
            input#max-amount.form-control(placeholder='Maximum amount', form='save-general', name= 'maximum_amount')
        div.container.description.extra-info
          .col-md-3.form-group
            p.fund-duration Duration of funding
            input#duration.form-control(placeholder='E.g. 1 year, 6 months, etc',form='save-general', name='duration_of_scholarship')
          .col-md-3.form-group
            p.places-number Number of places offered
            input.form-control#place(form='save-general/',name='number_of_places')
        div.container.description
          p#tags-description Tags (separate each tag by a comma and no space)
            span.glyphicon.glyphicon-info-sign(data-toggle ="tooltip", title="Tags should be miscellaneous information that you consider to be important in describing the fund")
        div.container.tags
          input#tags.form-control(form='save-general', name='tags')
        div.container.next.description
          button#save(type='submit', form='save-general')
            a#save-progress(href="#eligible") Save progress
          a#skip(href='#eligible') Skip
      script#eligible-template(type='text/template')
        span#helpBlock.help-block.center-block Only add a field if it does not apply to all aspects of the category. E.g. Do not add a subject field if the fund applies to all subjects. 
        .criteria-container.container.center-block
          #subject.criteria-item.item-selected
            span.glyphicon.glyphicon-book
            p Subject
          #personal.criteria-item
            span.glyphicon.glyphicon-user
            p Personal
          #education.criteria-item
            span.glyphicon.glyphicon-education
            p Education
          #location.criteria-item
            span.glyphicon.glyphicon-globe
            p Location
          #other.criteria-item
            span.glyphicon.glyphicon-option-horizontal
            p Other
        .criteria-form.container.center-block
          form#subject-form.selected-form
            label(for='subject') List of required subjects (leave blank if none)
            input#subject.form-control(name='subject')
          form#personal-form
            .row
              .col-md-6
                label Age
                .row
                  .col-md-6
                    input#minimum_age.form-control(name='minimum_age', placeholder='Minimum age')
                  .col-md-6
                    input#maximum_age.form-control(name='maximum_age', placeholder = 'Maximum age')
              .col-md-6
                label(for='gender-input') Gender
                .row
                  .col-md-6 
                    label.radio-inline 
                      input#male-input(type='radio', name= 'gender', value= 'male')
                      | Male
                  .col-md-6
                    label.radio-inline 
                      input#female-input(type='radio', name='gender', value='female')
                      | Female
            .row
              .col-md-6
                label(for='religion-input') Religion
                input#religion.form-control(name='religion')
              .col-md-6
                label(for='gender-input') Merit or Finance
                .row
                  .col-md-6
                    label.radio-inline
                      input#merit-input(type='radio', name='merit_or_finance', value='merit')
                      | Merit
                  .col-md-6
                    label.radio-inline
                      input#finance-input.finance(type='radio', name='merit_or_finance', value='finance')
                      | Finance
            //- p#separate-message.center-block *These fields are required.

          form#education-form
            .row
              .col-md-4
                label(for='target-university') Target university
                input#target_university.form-control(name='target_university')
              .col-md-4
                label(for='target-degree')  Intended degree of study
                input#target_degree.form-control(name='target_degree')
              .col-md-4
                label(for='required-degree') Required degree
                input#required_degree.form-control(name='required_degree')
            .row
              .col-md-6
                label(for='required-university') Previous university
                input#required_university.form-control(name='required_university')
              .col-md-6
                label(for='required-grade') Required grade
                input#required_grade.form-control(name='required_grade')
            //- p#separate-message.center-block *These fields require separation by a comma and no space if more than one is specified.
          form#location-form
            .row
              .col-md-12
                label(for='target-country') Country of study
                input#target_country.form-control(name='target_country')
            .row
              .col-md-12
                label(for='country_of_residence') Country of residence
                input#country_of_residence.form-control(name='country_of_residence')
            .row
              .col-md-12
                label(for='specific_location') Borough/state
                input#specific_location.form-control(name='specific_location')
            //- p#separate-message.center-block *These fields require separation by a comma and no space if more than one is specified.

          form#other-form
            label(for='other_eligibility') Please any other eligibility requirements not listed
            textarea#other_eligibility.form-control(name = 'other_eligibility')
             
        div.container.next.description
          button#save(type='submit', form='save-eligible')
            a#save-progress(href="#application") Save progress
          a#skip(href='#application') Skip
      script#application-template(type='text/template')
        .container.form-group.date-container
          .col-md-3
            p#start_description Date when applications are open
            input#application_open_date.form-control(name='start_date', type='date')
          .col-md-3
            p#deadline_description Deadline
            input#deadline.form-control(name='deadline', type='date')
        .container.form-group.decision-times.description
          .col-md-3
            p#interview Interview date
            input#interview_date.form-control(name='interview_date', type='date')
          .col-md-3
            p#decision Decision time
            input#application_decision_date.form-control(name='application_decision_date', type='date')
        .container.form-group.application-documents.description
          .col-md-3
            p#application_link Link to application form
            input#application_link.form-control(name='application_link',placeholder='E.g. www.tester.com/application.pdf')
          .col-md-3
            p#application_description Application documents
            input#application_documents.form-control(name='application_documents', placeholder='E.g. application form, references, CV')
        .container.description
          p#other_application_description Please specify other application processes not listed.
        .other_application.center-block.container
          textarea#other_application_steps
        .container.description
          p#tips-description Please specify any advice/ tips you may have for potential applicants.
        .tips.center-block.container
          textarea#tips
        div.container.next.description
          button#save(type='submit', form='save-eligible')
            a#save-progress(href="#application") Finish
            #stillRequired

block scripts
  script(src='/javascript/option-signup.js')
  script(src='/javascript/lib/jquery.tokeninput.js')
  script.
    var support_type = !{JSON.stringify(support_type)};
    var user = !{JSON.stringify(user)};
    var fund = !{JSON.stringify(fund)};
